<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#{title}</title>
  style
    include ../static/style.css
</head>
<body>

   <header>
    <nav id="navbar">
      <ul>
        <div class="logo">
          <img src="../static/danceing_girl.png" alt="">
        </div>
        <li><a href="/">Home</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
   </header>
   
  
   <div class="container">
    <p>Welcome to Dance Academy <br>Join Us...</p></div>

    <div class="mission"><h2>Our Mission</h2>
      <div class="cards">
        <div class="card-item">
        <img class="cd" src="../static/dance_1.avif"  alt="">
        <div class="content">Dance Perfection</div>
        </div>
       
      </div>
      <div class="cards">
        <div class="card-item">
          <img class="cd" src="../static/dance_2.jpg"  alt="">
          <div class="content">Dance the way you like</div>
        </div>
      </div>
      <div class="cards">
        <div class="card-item">
          <img class="cd" src="../static/dance_3.avif"  alt="">
          <div class="content">Expert Teaching</div>
          </div>
      </div>   
    
        </div>
      

   <div class="response">
      <h2>Sponsorship Area</h2>
      <div class="sponcer">
        <img src="../static/sponcers_1.png" alt="">
        <img src="../static/sponcers_2.png" alt="">
        <img src="../static/sponcers_3.png" alt="">
        <img src="../static/sponcers_1.png" alt="">
        <img src="../static/skype.png" alt="">
      </div>
      
   </div>


   <footer> Copyright &copy nishu.com;
   </footer>
</body>
</html>